<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>회원가입</h1>

		<div class="form-group">
			<label for="name">이름</label>
			
			<div class="d-flex">
				<input type="text" id="name" name="name" class="form-control col-4">
				<button type="button" id="nameCheckBtn" class="btn btn-warning">중복확인</button>
			</div>

			<small id="nameStatusArea"></small>
		</div>

		<input type="button" id="joinBtn" value="회원가입" class="btn btn-success">
	</div>
	<script>
		$(document).ready(function() {
			// 중복 확인 버튼 클릭
			
			$("#nameCheckBtn").on('click', function(){ // 개 신기함 ㄹㅇ ㅋㅋㅋㅋ
				// alert("중복 확인");
				// nameStatusArea 초기화
				$("#nameStatusArea").empty(); // 자식 태그 모두 비움
			
				let name = $("#name").val().trim();
				if (!name){
					$("#nameStatusArea").append('<span class="text-danger">이름이 비었습니다.</span>'); // 함수가 모르고 검색을 해봐야 할때  Ex)태그안에태그  동적으로 넣기등으로 검색해보아야함
					return; //비어있을때 서버에 갈수 없기 때문에 return을 꼭 해준다.
				} 
				
				// AJAX 중복 확인(DB)
				// 함수는(붙힌다.)
				$.ajax({ // 멈춰있는 화면이 특징
					// request
					type:"GET" // GET이면 생략 가능
					, url:"/lesson06/ex02/is-duplication-name"
					, data:{"name" : name}
					
					// response
					// callback 함수
					, success:function(data){
						// {"code":200, "is_duplication" : true} => 중복이면 true 
						if (data.is_duplication){
							$("#nameStatusArea").append('<span class="text-danger">중복된 이름입니다.</span>');
						}
					}
					, error:function(error){
						alert("이름 중복확인에 실패했습니다.")	
					}
				});
			});
		
			// 회원가입
			$("#joinBtn").on('click', function(){
				// alret("회원가입");
				
				let children = $("#nameStatusArea").children();
				console.log(children);
				
				// $("#nameStatusArea") 에 자식 태그가 아무것도 없으면 가입 진행
				if (children.length < 1){
					alert("가입 진행");
				} else{
					alert("불가")
				}
			});
		});
	</script>
</body>
</html>